ul li {
  list-style: none;
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.navcontainer {
  display: block;
  width: 244px;
  border-right: 1px solid gray;
  position: fixed;
  height: 100vh;
  z-index: 2;
}

.Imglogo {
  width: 130px;
  margin: 20px;
}
